$primary: #4fefb5;
$font-color: #383838;

.newtab {
  padding: 4rem 2rem;
  height: 100vh;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  &__time {
    font-size: 8rem;
    font-weight: 700;
    line-height: 8rem;
  }

  &__day {
    font-size: 2rem;
    font-weight: 700;
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}

.bookmark {
  &__list {
    width: 64.7rem;
    height: auto;
    margin: 2rem 2rem 0 0;

    & li {
      font-size: 1.8rem;
      line-height: 4.5rem;
      list-style-position: inside;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.notion {
  &__textarea {
    width: 51.2rem;
    height: 20.5rem;
    margin-top: 2rem;
    padding: 1rem;
    background: #383838;
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: 1rem;
    border: 3px dashed #a5a5a5;
  }
}

.star {
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
